* {
    box-sizing: border-box;
}

body {
    background-color: #1e1e2e !important;
    color: #cdd6f4;
    font-family: "Urbanist", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* urbanist-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/urbanist-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


p {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

a {
    color:#89b4fa;
}

a:hover {
    color: #74c7ec;
}

a:visited {
    color: #cba6f7;
}

h1 {
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 3em;
    text-align: center;
}

h2 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 2em;
    text-align: center;
}

h3 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-size: 1.5em;
    text-align: center;
}

ul {
    padding: 0;
}

li {
    font-size: 1.5em;
    text-align: center;
    list-style-type: none;
    margin-bottom: 1.5px;
    align-content: center;
}

footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.buttons {
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
}


.webring {
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.updated {
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.socials {
    margin: auto;
    display: block;
    gap: 2em;
}

.four {
    display: inline-block;
    vertical-align: middle !important;
    line-height: normal;
}

.socials a {
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    color: #cdd6f4;
    background-color: #313244;
    border-radius: 10px;
    border: 2px solid;
    border-color: #fab387;
    font-size: 1.25em;
    margin: auto;
    line-height: 1.75em;
    box-shadow: 0 0 5px 0 #fab387;
    font-style: bold;
    animation: 3s ease-in 1s infinite;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    align-items: center !important;
}

.socials a:hover {
    background-color: #fab387;
    color: #11111b;
}

assets/left.svg {
    fill: #fab387 !important;
    stroke: #fab387 !important;
}

assets/right.svg {
    fill: #fab387;
    stroke: #fab387;
}

hr {
    height: 2px;
    width: 80%;
    background-color: #fab387;
    border: none;
    margin: 1.5rem auto;
    box-shadow: 0 0 15px 0 #fab387;
}
