* {
    box-sizing: border-box;
}
body {
    background-color: #303446;
    color: #4c4f69;
    font-family: "Figtree", Arial, sans-serif;
}
.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    grid-gap: 20px;
}
ul {
    padding: 0;
}
.divs {
    border: 2px solid #ef9f76;
    border-radius: 10px;
    padding: 0;
}
h1 {
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 3.5em;
    color: #c6d0f5;
    text-align: center;
}
h2 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 3em;
    color: #c6d0f5;
    text-align: center;
}
h4 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 2.5em;
    color: #ef9f76;
    text-align: center;
}
footer {
    text-align: center;
    border-top: 2px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #c6d0f5
}
li {
    font-size: 1.5em;
    text-align: center;
    list-style-type: none;
    color: #c6d0f5;
    margin-bottom: 1.5px;
}
.button {
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    color: #c6d0f5;
    background-color: #414559;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
    margin: 5px;
    line-height: 1.75em
}
.button:hover {
    background-color: #ef9f76;
    color: #292c3c;
    border-color: #fab387;
}
a {
    color: #8caaee
}
a:hover {
    color: #85c1dc
}
a:not(.button):visited {
    color: #ca9ee6
}
.batton {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nya {
    height: 2px;
    width: 80%;
    background-color: #949cbb;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0 5px 0px #949cbb;
}
@media screen and (max-width:750px) {
    #e {
        padding: 0px;
        margin-left: 0px
    }
}
